body {
    background: linear-gradient(60deg, white 0%, white 50%, #FFA011 50%, #FFA011 63%, white 63%, white 75%, #1F4D7E 75%, #1F4D7E 100%);
    overflow-x: hidden;
    color: dodgerblue;
}
.conteiner {
    max-width: 1280px;
}
.tabs {
    display: flex;
}
.tab {
    margin: 20px auto 20px;
    color: black;
    font-weight: 700;
}
.line {
    margin: 0 20px;
    height: 5px;
    background-color:rgb(0, 132, 255);
    opacity: 0.4;
}
.profile {
    width: 300px;
    margin-left: 100px;
}
.pregnant {
    margin-top: 15px;
}
.pregnant > input {
    width: 20px;
    height: 20px;
}
.basicdiagnosis {
    margin: 0px 40px 0px 100px;
}
.basicdiagnosis > table {
    width: 1100px;
    border-collapse: collapse;
    margin-top: 15px;
}
.basicdiagnosis table td{
    width: 50px;
    text-align: center;
}
.basicdiagnosis  table input{
    width: 70px;
}
td {
    border: 1px solid black;
}
.basicdiagno {
    width: 700px;
}
.complicationmaindiagno {
    width: 700px;
}
.complicationofthemaindiagnosis {
    margin: 0px 50px 0px 100px;
}
.complicationofthemaindiagnosis table {
    margin-top: 15px;
    border-collapse: collapse;
}
.complicationofthemaindiagnosis table td {
    border: 1px solid black;
    text-align: center;
}
.complicationofthemaindiagnosis table input {
    width: 70px;
}
.concomitantdiagnosis {
    margin: 0px 50px 0px 100px;
}
.concomitantdiagnosis table {
    margin-top: 15px;
    border-collapse: collapse;
}
.concomitantdiagnosis table td {
    border: 1px solid black;
    text-align: center;
}
.concomitantdiagnosis table input {
    width: 70px;
}
.tab:hover {
    cursor: pointer;
}
.active {
    color: olivedrab;
}
.specialist {
    margin-left: 100px;
}
button {
    margin: 20px 50%;
    width: 100px;
    height: 35px;
}
button:hover {
    cursor: pointer;
}